

/* ---- PAGINA AGROTOXICOS-----*/

       
#mapid { 
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 550px;
    width: 90%;
 }
    
#grafico{  
    margin-bottom:20px;
}  


 #entrada{
    margin-top: 55px;
    font-size: 15px;
 }

#btnAgro {
    width: 10.7%;
    height: 35px;
    padding: 0;
    display: inline-block;
    text-align: center;
    font-size: 10pt;
}

.popover {
    padding: 3px;
    font-size: 7.5pt;
    background-color: rgb(197, 228, 184);
    text-align: left;
    width: 350px;    
}

.btnRom {
    width: 100%;
    height: 35px;
    margin-top: 6px;
    padding: 0;
    text-align: center;
    font-size: 7pt;
    background-color: #2e4e06 ;
}

#pesquisa-ano{
    margin-top: 20%;
    text-align: center;
    padding-bottom:0;
    border:1px solid green;
    margin-bottom: 0;
}

#pesquisa-ano p,
#pesquisa-uf p,
#divs p{
    margin-bottom: 20px;
    text-align:center;
    color:rgb(58, 44, 7);
}


#pesquisa-uf{
    margin-top: 15%; 
    text-align: center;
    border:1px solid green;
    padding: 10px;
    text-align: center;
}

#pesquisa-uf label {
text-align: right;
}

#meu {
    font-size: 10pt;
    margin-top: 2%;
    padding-left: 20px;
    color:rgb(58, 44, 7);     
}

#meu:hover{
    font-size:16px;
    color:green;
    font-weight: 600;
}
#divs{
    width:150px;    
    float: left;
    margin-left:10%;
    margin-bottom: 10;
    border:1px solid green;
    padding:5px;
}

#divs label{
    color:rgb(58, 44, 7);
}

#divs label:hover{
    font-size:16px;
    color:green;
    font-weight: 600;
}

#circle{
    width: 50%;
    height: 50%; 
    margin-left:10%;
    float: left;
    margin-top: 10%;
    margin-bottom:20px;
}   

[type="radio"]:checked +span:before {
    border:2px solid rgb(82, 43, 7);
    transition: 600ms;
}

[type="radio"]:checked +span:after {
    border:1px solid rgb(13, 114, 9);
    background-color: rgb(10, 150, 10);
}

.btngreen {
    background-color: #349727 ;
    margin-top: 4px;
}

.btnred {
    background-color: #d80202 ;
    margin-top: 4px;    
}

.btnblue {
    background-color: #0502c0 ;
    margin-top: 4px;
}

.btnyellow {
    background-color: #f6f317 ;
    color: black;
    margin-top: 4px;
}

.containerRomulo {
    width: 80%;
    margin-left: 10%;
}

.chart-container{
    position: relative; 
    height:200px; 
    width:100%;
    margin-top:4%;
}

#tabelas{
    margin-top: 8%;
}
    
#title{
    font-size: 2em;
    letter-spacing: 0.2em;
    color:rgb(78, 57, 12);
    margin-bottom:40px;
    padding-top:10%;
    font-weight: bold;
}

#title h5{
    margin-top: 50%;
}

#botoes{
    margin-right:20%;
    margin-top:3%;
    margin-bottom: 3%;
}

#submit{
    margin-right: 10px;
}

.fonte{
    margin-top:10%;
}

#listas{
    margin-top:10%;
    margin-left:8%;
    margin-right:8%;
}

#listas a{
    color:green;
}





