
/*MENU E FOOTER*/


body{
    background-color: #f6f5f5;
    
}
.logo{
	height:68px;
    width:170px;
    margin-left:5%;
   
}


ul li a{
    font-size: 1.5em;
    font-weight: 400;
    color:#ffff;
    margin-top: 2px;
}

.icon-color{
    color:#ffff;
    margin-top:10px;
    
}

#dropdown1 li a{
    font-size: 20px;
    color:rgb(245, 243, 240);
    background-color: rgb(56, 45, 13);
}


section#top nav{
    background-color:#32261b;
    height:4.8em;

}

section#top nav ul li a{
	font-weight:300;
	letter-spacing: 1px;

}

section#top nav ul li:nth-child(6){
	border-left:1px solid rgb(51,121,10);
}

.sidenav{
    background-color: rgb(20, 66, 8);
    padding-top:100px;
    
}

.sidenav li a{
    font-size: 24px;
    margin:10px;
    border-bottom: 1px solid #ffff;
    color:#ffff;
    font-family: 'Times New Roman', Times, serif;
}


#new-banner{
 background-image: url("../imagens/fundo-verde.jpg");
 background-repeat: no-repeat;
 height: 400px;

}

#info h2{
     margin-top:10%;
}


#info p{
    color:#4a3a3a;
    font-size: 1.5em;
    margin-left:20%;
    margin-right:20%;      
}

    

#info h2{
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.2em;
    font-size: 50px;
    color:#4a3a3a;
    text-shadow: 2px 2px 5px #135a05;
}

@media screen and (max-width: 700px) {
    #info h2 {
        font-size: 40px;
        padding-top: 20%;
    }
        
    #info p{
        font-size:15px;
    
    }
}

@media screen and (max-width: 320px) {

    #info h2 {
        font-size: 35px;
        padding-top: 20%;
    }
}


/*BORDAS DE FOLHAS*/

section#produto-escolhido{
    background-color: white;
    padding-top: 4%;
    padding-bottom: 4%;


}


#meio{
    background-image: url("../imagens/folhas.jpg");
    margin-left:8%;
    margin-right:8%;
    padding-bottom:5%;
    background-repeat: no-repeat;
    background-size: cover;    
    height:100%;    
}



#box-search{
       
    width: 90%;
    margin-top:25%;
    margin-left:10%;
    
}


#texto{
    width:80%;
    height: 35px;
    float: left;
    font-size: 16px;
    border:1px solid #748d58;
    margin-left:15px;
    padding-left:4px;
    border-radius:0;
    
    
}


#botao-pesquisar{
    margin:0;
    padding:0;

    
}


#botao{
    
    width: 50%;
    height: 45px;
    background-color: green;    
    cursor: pointer; 
   
}


.btn{
    background-color: #2e4e06 ;
    transition: 400ms;
    
    
}

.btn:hover{
    background-color: rgb(77, 180, 17);
 
}


#btn-space{
    margin-left: 20px;

}





.foto-produtos{  
    margin-bottom: 80px;
    margin-top:10%;
    border:2px solid rgb(107, 104, 85);
    padding:10px;
}


.alimentos{
    font-size: 16px;
    font-weight: bold;
    margin-top:8%;
    color: rgb(73, 55, 15);

}



/*page ponto comercial escolhido */
section#ponto-comercial-escolhido{

    background-color:white;
    padding-top: 4%;
    padding-bottom: 4%;
}

#meio h3{
    margin-top:10%;
}



#organicMax h3{
    padding-top: 7%;
    margin-bottom: 15%;
  
}

.store-pic{
    font-size: 180px;
    margin-top:5%;
    
}






/*Page Perfil Ponto Comercial */


h3{    
    color:#233720;
}























/*FOOTER*/

#email{
    width:300px;
    height: 35px;    
    font-size: 20px;    
    background-color: white;
    padding-left:10px;
    
}



div#social ul li {
	width:32px;
	height:32px;
	float:left;
	margin-right: 15px;
}


div#social ul li a{
	background:url("../imagens/social.png");
	display:block;
	height: 100%;
    text-indent: -99999em;
    
}

div#social ul li:nth-child(1) a{background-position: 0 0;}
div#social ul li:nth-child(2) a{background-position: -129px 0;}

div#social ul li:nth-child(1) a:hover {background-position: 0 -32px;}
div#social ul li:nth-child(2) a:hover {background-position: -128px -32px;}


#logo-heads{
    margin-top:0;   
    height:50px;
 
}
#saiba-mais p{
    margin-left:2%;
    margin-bottom:0;
    font-size:20px;
    padding: 0;
    
}
#social p{
    font-size:20px;
    margin-bottom: 0;
    padding: 0;
}

.page-footer{
    background-color: #264e20;
    padding:0;
    margin: 0;
    
    }
    
    
    .page-footer .footer-copyright{
        
        background-color: #233421;
        padding:0;
    }

#criado-por-heads{
  
    margin-top: 2.7%;
    padding-bottom:0;
    margin-left:1%;
    width: 40%;
    font-size: 14px;
    margin-bottom:0;
}

#logoheads{
   padding-bottom:0;
   margin-top: 1%;
   margin-bottom: 0;
   padding:0;
  

}


@media screen and (max-width: 940px) {
    #social {
        margin-left:16%;
        padding:0;
  
    }
    #dd{
        padding-top: 2%;

}

    #logoheads{
        margin-top: 2%;
    }
}




@media screen and (max-width: 700px) {
    #social {
        margin-left:5%;
    }
    #dd{
        padding-top: 4%;
    }
#email{
    width:90%;

}

#logoheads{
    margin-top: 4%;
}

}