
body{
    background-color: #f6f5f5;
    
}
.logo{
	height:65px;
    width:20%;
    margin-left:50px;   
}


ul li a{
    font-size: 20px;
    font-weight: 400;
    color:rgb(51, 121, 10);
    margin-top: 2px;
}

.icon-color{
    color:grey;
    
}

section#top nav{
    background-color:transparent;
    height:4.3em;
}
/*
#top{
	background-image: url("../imagens/world.png");
	background-repeat: no-repeat;
    background-size:cover;
    height:800px;
  
}*/

nav li{
    font-family: sans-serif;
    font-size: 50px;
}


#info{
    margin-left: 10%;
    margin-top: 80px;
    text-align: left;
    display:flex;   

}

#info p{
    color:#4a3a3a;
    font-size: 1.5em;
    text-align: justify;
    padding-right:20%;
    margin-top:2em;
    
    }

h2{
    font-family: 'Righteous', cursive;
    letter-spacing: 0.2em;
    font-size: 3em;
    color:#4a3a3a;
}

.foto{
    height:250px;
}

#freepik{
    margin-left:1540px;
    color:rgb(182, 171, 141);
    
   
}

#conteudo{
    margin-bottom: 100px;
}




/*FOOTER*/

#email{
    width:350px;
    height: 35px;    
    font-family: Arial;
    font-size: 20px;    
    background-color: white;
    padding-left:10px;
}

#saiba-mais{
    margin-left:12px;
}

div#social{
    float:right;
}

div#social ul li {
	width:32px;
	height:32px;
	float:left;
	margin-right: 15px;
}


div#social ul li a{
	background:url("../imagens/social.png");
	display:block;
	height: 100%;
    text-indent: -99999em;
    
}
    
div#social ul li:nth-child(1) a{background-position: 0 0;}
div#social ul li:nth-child(2) a{background-position: -129px 0;}

div#social ul li:nth-child(1) a:hover {background-position: 0 -32px;}
div#social ul li:nth-child(2) a:hover {background-position: -128px -32px;}


.page-footer{
    background-color: #7EA478;
    height:218px;
    }
    

#criado{
   margin-top:15px;
}

.criado-por-heads{
    background-color: #496845;
    padding-left:260px;
    padding-top: 4px;
    
}

#logo-heads{
    height:50px;
    margin-left:390px;
}













/*Page do produto.html */

section#produto nav {
    background-color: transparent;
    height:4.3em;
    margin-bottom: 100px;
}

#banner{
    background-image: url("../imagens/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-bottom:80px;
    padding:0.2em;
    
}

.search-box{
    margin-top:220px;
}

.pesquisa{  
    margin-top:0px;
    margin-left:550px;
    border:solid 1px green;
    width: 408.5px;
    height:37.5px;
    padding-left:5px;
    background-color: white;
}

#texto{
    width:350px;
    height: 35px;
    float: left;
    font-family: Arial;
    font-size: 20px;
    
}

#botao{
    
    width: 50px;
    height: 45px;
    background-color: green;    
    cursor: pointer;
    
   
}

.btn{
    background-color: #748d58 ;
}

.btn:hover{
    background-color: rgb(77, 180, 17);
}

.filtro{

    margin-left: 550px;
    margin-top:10px;
    margin-bottom: 130px;
}

.filtro span{
    
    font-size: 14px;
    color:green;
    margin-right:40px;
   
}

.por-produto{

    background-color: #a2c07f;
    width: 120px;
    font-size:10px;
}

.por-local{
    background-color: #a2c07f;
    width: 100px;
}

.por-categoria{
    background-color: #a2c07f;
    width: 140px;

}


.foto-produtos{  
    margin-bottom: 80px;

}

.botao{
    margin-top:20px;
    margin-right:30px;
}

.alimentos{
    font-size: 22px;
    font-weight: bold;
    margin-top:10px;
    color: indigo;

}
.pics{
    width:300px;
    height:200px;
    
}

.caixas{
    margin-top:50px;

    }
